@import "assets/reset.scss"; /* Import reset.css */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
  font-family: 'RnM'; // Rick and Morty font
  src: url('assets/RnM.ttf') format('truetype');
}  

:root {
  font-size:16px;
}

body {
  font-family: 'Righteous', cursive;
  padding:20px 30px;
  background-color:rgb(18 18 18);
  font-size:0.875em;
}

.container {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  border-radius:5px;
  background-color:rgb(79, 79, 82);
}

.container__row {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  padding:20px;
  justify-content:center;
  gap:20px;
}

.card {
  max-width:500px;
  max-height:200px;
  border-radius:10px;
  background-color: rgb(31, 30, 30);
  color: rgb(105, 114, 126);
  overflow:hidden;
  border:2px solid rgb(192, 190, 190);
  &:hover {
    opacity: 0.8;
    box-shadow: 10px 5px 5px black;
  }
}

.card__content {
  display:flex;
}

.card__img {
  min-width:200px;
  width:200px;
  display:flex;
}

.card__text_content {
  display:flex;
  flex-wrap:wrap;
  padding:10px 10px;
}

.card__name {
  display:inline-block;
  width:100%;
  font-size:1.25rem;
  color:rgb(190, 191, 192);
}

.card__status {
  display:inline-block;
  width:100%;
  font-style:italic;
}

.card__species {
  display:inline-block;
  width:100%;
}

.card__origin {
  display:inline-block;
  width:100%;
}

.circle {
  float:left;
  width:10px;
  height:10px;
  border-radius:50%;
  margin:6px 5px 0 0;
  border:none;
  &--green {
    background-color:green;
  }
  &--red {
    background-color:#a52727;
  }
  &--orange {
    background-color:orange;
  }
}

.btn {
  font-family: "RnM";
  font-size:1.875rem;
  border-radius:10px;
  border:none;
  padding: 5px 30px;
  cursor:pointer;
  background-color:rgb(215, 218, 223);
  color:rgb(71, 69, 69);
  &:hover {
    color:rgb(212, 213, 214);
    background-color:rgb(31, 30, 30);
  }
  &--disabled {
    opacity:0.3
  }
  &--disabled:hover {
    background-color:rgb(215, 218, 223);
    color:rgb(71, 69, 69);
  }
}

.title {
  font-family: "RnM";
  text-align:center;
  font-size:4.125rem;
  font-weight:700;
  color:rgb(0 178 203)
}

////////// Media screen under 769px //////////
@media (max-width: 768px) {
  body {
    padding:0;
  }
  .title {
    font-size:3rem;
  }
 }

 ////////// Media screen under 577px //////////
 @media (max-width: 576px) {
  :root {
    font-size:14px;
  }

  .title {
    font-size:2rem;
  }

  .card {
    max-width:250px;
    max-height:800px;
  }
  
  .card__content {
    flex-direction: column;
  }
  
  .card__img {
    width:250px;
  }

  .card__text_content {
    gap:10px;
  }

  .circle {
    width:7px;
    height:7px;
    margin:5px 5px 0 0;
  }
 }